{% extends 'base.html.twig' %} {% block title %}Post{% endblock %} {% block body %}
<h1>Post</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Discription</th>
            <td>{{ post.discription }}</td>
        </tr>
        <tr>
            <th>image</th>
            <td> <img class="card-img-top" style="width: 286px; height: 180px;" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.image }}"></td>
        </tr>
        <tr>
            <th>PostedAt</th>
            <td>{{ post.postedAt ? post.postedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </tbody>
</table>

<div class="conatiner">
    <h3>Commentaires : </h3> {% for comment in post.comments %}
    <div class="comment">
        <div class="row">
            <div class="col-3">
                {{comment.auther}}<small> {{comment.ceatedAt | date('d/m/y')}}</small>
            </div>
            <div class="col">
                {{comment.content | raw}}
            </div>
        </div>
    </div>
    {% endfor %} {{ form_start(commentForm)}} {{form_row(commentForm.auther, {'attr': {'placeholder': 'Votre nom'}})}} {{form_row(commentForm.content, {'attr': {'placeholder': 'Votre Commentaire'}})}}
    <button type="submit" class="btn btn-success">Valider</button> {{ form_end(commentForm)}}
</div>


<!-- 
<a href="{{ path('post_index') }}">back to list</a>

<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>-->{% endblock %}